
.form {width: 100%; max-width: 300px; padding: 15px; margin: 15px auto;}

.form .form-control {position: relative;  box-sizing: border-box;height: auto;padding: 10px; font-size: 15px;}
.form .form-control:focus {  z-index: 2;}
.text-center{display: flex; justify-content: center}